@import url(http://fonts.googleapis.com/css?family=Racing+Sans+One);
/* =============================================== */
/* owl carousel wcfps custom style
/* =============================================== */

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.wcfps-title,
.wcfps-price,
.wcfps-price-sale { font-family: 'Racing Sans One', cursive; }
.wcfps-image { float: left; width: 50%; height: 100%; }
.wcfps-image .wcfps-wrap-image { padding: 0px 20px 0px 20px; position: relative; height: 100%; } 
.wcfps-image .wcfps-wrap-image img {  }
.wcfps-details { float: right; width: 50%; }
.wcfps-title { width: 100%; margin: 0 0 20px 0; padding: 0 20px 0 20px; text-align: center; color: #777777; text-shadow: 2px 2px 2px rgba(0,0,0,0.3); }
.wcfps-price { width: 100%; margin-bottom: 20px; font-size: 40px; text-align: center; color: #27AE60; text-shadow: 2px 2px 2px rgba(0,0,0,0.3); }
.wcfps-price-sale { font-size: 30px; text-decoration: line-through; color: #C0392B; }
.wcfps-excerpt { color: #95A5A6; text-shadow: 1px 1px 1px rgba(255,255,255,0.3); padding: 0 30px 5px 10px; font-style: italic; }
.wcfps-permalink { position: relative; display: block; height: 40px; text-align: center; }
.wcfps-permalink a { background-color: #ad74a2; display: inline-block; height: 40px; line-height: 40px; padding: 0 10px; color: #ECF0F1; clear: both; }

.wcfps-theme-default { background-color: #ECF0F1; box-shadow: inset 0px 0px 120px rgba(0,0,0,0.2); padding-top: 20px; padding-bottom: 20px; }
.wcfps-theme-default .item img{ display: block; width: 90%; height: auto; }

.clear:before,
.clear:after {
    content: " ";
    display: table;
}

.clear:after {
    clear: both;
}

