/*
*   Wcfps theme
*/

.wcfps-theme-default { overflow: hidden; }

.wcfps-theme-default .owl-controls{
  margin-top: 0px;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0px;
  width: 100%;
}

.wcfps-theme-default .owl-controls.clickable .owl-pagination { position: absolute; bottom: 5px; left: 10px; }
.wcfps-theme-default .owl-controls.clickable .owl-buttons { float: right; }

/*.wcfps-theme-default .owl-controls.clickable .owl-buttons .owl-prev,
.wcfps-theme-default .owl-controls.clickable .owl-buttons .owl-next { opacity: 1; }
.wcfps-theme-default .owl-controls.clickable .owl-buttons .owl-prev { float: left; margin-left: -50px; }
.wcfps-theme-default .owl-controls.clickable .owl-buttons .owl-next { float: right; margin-right: -50px; }*/

/* Styling Next and Prev buttons */

.wcfps-theme-default .owl-controls .owl-buttons div{
  color: #FFF;
  display: inline-block;
  zoom: 1;
  *display: inline;/*IE7 life-saver */  
  padding: 10px 15px 7px 15px;
  font-size: 14px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  background: #869791;
  filter: Alpha(Opacity=50);/*IE7 fix*/
  opacity: 0.5;
}


/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.wcfps-theme-default .owl-controls.clickable .owl-buttons div:hover{
  filter: Alpha(Opacity=100) !important;/*IE7 fix*/
  opacity: 1 !important;
  text-decoration: none;
}

/* Styling Pagination*/

.wcfps-theme-default .owl-controls .owl-page{
  display: inline-block;
  zoom: 1;
  *display: inline;/*IE7 life-saver */
}
.wcfps-theme-default .owl-controls .owl-page span{
  display: block;
  width: 12px;
  height: 12px;
  margin: 5px 7px;
  filter: Alpha(Opacity=50);/*IE7 fix*/
  opacity: 0.5;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  background: #869791;
}

.wcfps-theme-default .owl-controls .owl-page.active span,
.wcfps-theme-default .owl-controls.clickable .owl-page:hover span{
  filter: Alpha(Opacity=100);/*IE7 fix*/
  opacity: 1;
}

/* If PaginationNumbers is true */

.wcfps-theme-default .owl-controls .owl-page span.owl-numbers{
  height: auto;
  width: auto;
  color: #FFF;
  padding: 2px 10px;
  font-size: 12px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}

/* preloading images */
.owl-item.loading{
  min-height: 150px;
  background: url(AjaxLoader.gif) no-repeat center center
}